/* Reseteo básico de márgenes, rellenos y box-sizing para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establece el alto completo para el body y html, y define la fuente general */
body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Centra el contenido de la página vertical y horizontalmente usando flexbox */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura del 100% del viewport */
}

/* Estilo del contenedor del formulario de login */
.login {
  width: 35%;                  /* Ancho del contenedor */
  height: 40%;                 /* Alto del contenedor */
  border: 2px solid black;     /* Aplica el borde negro */
  border-radius: 5px;          /* Redondea las esquinas */
  display: flex;               /* Usamos flexbox para el contenido */
  flex-direction: column;     /* Apilamos verticalmente los hijos */
  justify-content: center;    /* Centramos verticalmente el contenido */
}

/* Centra el título "Iniciar sesión" horizontalmente */
#iniciar-sesion {
  justify-content: center;
  display: flex;
  width: 100%;
}

/* Contenedor general de los campos de entrada */
.datos {
  display: flex;
  align-items: center; /* Alineación vertical */
}

/* Contenedor para el campo de correo */
.correo,
/* Contenedor para el campo de contraseña */
.contraseña {
  display: flex;
  align-items: center;
  flex-direction: column; /* Alinea los hijos en columna */
  width: 90%;
  height: 30%;
  gap: 10px; /* Espaciado entre elementos hijos */
}

/* Estilo general para los inputs de correo y contraseña */
.informacion {
  width: 100%;
  height: 40px;
  border-radius: 5px; /* Redondeo de bordes */
}

/* Botón de inicio de sesión */
.botonlogin {
  width: 90%;
  height: 40px;
  background-color: #0B2559; /* Color azul oscuro */
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

/* Cambio de color cuando el mouse pasa por encima del botón */
.botonlogin:hover {
  background-color: #183B59; /* Azul más claro */
}
