* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

#gestionar-proyecto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#contenedor-filtro {
    display: flex;
    width: 99%;
    height: 5%;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    
}


#tabla-proyecto-contenedor {
    margin-top: 20px;
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* <-- Centro horizontalmente */
}


.MuiTableContainer-root {
    flex: 1;
    overflow: auto;
    background-color: inherit;
}

.MuiTable-root {
    min-width: 650px;
}


