.boton{
    border: solid black 2px !important;
    border-radius: 5px !important;
    background-color: #1976D2 !important;
    width: 12% !important;
}


.boton:hover{
    background-color: white !important;
}