.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  padding: 32px;
  border-radius: 10px;

  /* Ancho fijo para evitar que cambie dependiendo del contenido */
  width: 500px; /* Puedes ajustar este valor a lo que necesites */
  max-width: 90vw;   /* Evitar que el modal sea demasiado grande en pantallas pequeñas */
  max-height: 90vh;  /* Evitar que el modal sea demasiado grande en pantallas pequeñas */
  overflow-y: auto;  /* Hacer scroll si el contenido excede la altura */
}

#modal-dinamico-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 16px; /* Separar un poco el título del formulario */
}

@media (max-width: 600px) {
  .modal-content {
    width: 95vw; /* Modal más pequeño en dispositivos móviles */
    padding: 16px; /* Reducir padding en pantallas pequeñas */
  }
}
